<img class="gitsearch" src="/src/assets/gitsearch.png" alt="Gaitsearch">
<h1>Git search -- <span>Dan Alvin</span></h1>

<form class="search-form"  action="" >
    <div class="form-group">
      <input  type="text"  class="form-control" placeholder="search github user"
      [(ngModel)]="username" name="username"(keyup)="findProfile()" >
    </div>
  
  </form>
  
  
  
  <div *ngIf="profile">
  
  
    <div class="panel panel-default">
      <div class="jumbotron">
        <h1>{{profile.name}}</h1>
        <h2>({{profile.login}})</h2>
      </div>
  
        <h2>{{profile.location}}</h2>
  
      </div>
      <div class="panel body">
        <div class="row">
          <div class="col-md-3">
            <img src="{{profile.avatar_url}}" class="responsive-img circle responsive-img" alt="Profile" style="width: 200px"> 
          </div>
          <div class="col-md-5">
            <ul class="list-group">
              <li class="list-group-items" *ngIf ="profile.bio" >{{profile.bio}}</li>
  
            </ul>
  
        </div>
        <div class="col-md-4">
          <div>
            <p>
              <button button type="button" class="btn btn-primary">{{profile.public_repos}} Public Repos</button>
              <button button type="button" class="btn btn-info">{{profile.followers}} Followers</button> 
              <button button type="button" class="btn btn-success" > {{profile.following}} Following</button>
  
            </p>
            <p><a href="{{profile.html_url}}" class="btn btn-success btn-sm" target="_blank">View profile on github</a></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Repositories</h3>
              </div>
              <div class="panel-body" *ngFor='let repo of repos'>
                <p class="clearfix">
                  {{repo.name}} <a href="{{repo.html_url}}" class="btn btn-sm btn-warning pull-right" target="_blank">View this project on github</a>
  
                </p>
                <p>{{repo.description}}</p>
              </div>
  
          </div>
        </div>
      </div>
    </div>
  
  </div>
  </div>