h1{
    text-align: center;
    font-family: 'Calligraffitti';font-size: 50px;
}

.search-form{
    padding-top: 50px;
}
body {
    font-family: 'Caveat';font-size: 22px;
}
h3{
    text-align: center;
    font-family: 'Calligraffitti';font-size: 30px;
}
.gitsearch{
    margin-right: 0%;
    margin-left: 32%;
}